body {
  margin: 0;
  box-sizing: border-box;
  font-family: Hellix;
}

.main-content{
  text-align: center;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.header-container {
  height: 75px;
  margin-top: 0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.004);
}

.workout-cartoon {
  height: 414px;
  width: 414px;
}

.first-header {
  font-size: 36px;
  line-height: 43.21px;
  font-weight: 500;
  margin-top: 0;
  padding-top: 1rem;
}

#strong {
  font-weight: 700;
}

.bold-text {
font-size: 64px;
font-weight: 500;
line-height: 75px;
margin-top: 0;
margin-bottom: 7px;
}

span {
font-weight: 700;
}

.small-text {
width: 80%;
text-align: center;
margin: auto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
margin-top: 23px;
margin-bottom: 40px;
width: 382px;
}

.primary-button {
background-color: #4B5092;
width: 252px;
height: 59px;
top: 916px;
left: 81px;
gap: 0px;
border-radius: 35px;
opacity: 0px;
border: none;
color: white;
font-size: 1.1rem;
text-decoration: none;
padding: 15px 60px;
}

#second-img {
  height: 276px;
  width: 414px;
}

.h1-second-landing {
font-size: 48px;
font-weight: 500;
line-height: 57.61px;
text-align: left;
margin-left: 2rem;
padding-top: 4rem;
}

.p-second-landing {
  text-align: left;
  margin-bottom: 15rem;
  margin-left: 2rem;
}

.second-landing-container {
  height: 100vh;
}

.second-lower-landing{
  background-color: #f2f8ff;
  width: 100%;
  height: 50vh;
}

.third-landing-container {
  height: 100vh;
  background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
  height: 942px;
  top: 1901px;
  gap: 0px;
  opacity: 0px;
}

.h1-third-landing {
font-size: 48px;
font-weight: 700;
line-height: 57.61px;
text-align: center;
padding-top: 5rem;
}

.p-landing-third {
font-size: 18px;
font-weight: bold;
line-height: 24px;
text-align: center;
}

.p-landing-third-lorem {
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
margin: auto;
width: 382px;
}

.second-button {
color: #6487BF;
background-color: white;
display: block;
margin: 2rem auto;
width: 152px;
height: 25px;
top: 916px;
left: 81px;
gap: 0px;
border-radius: 35px;
opacity: 0px;
border: none;
font-size: 1.1rem;
text-decoration: none;
padding: 15px 60px;
font-weight: 600;
}

.third-athlete-container {
  width: 100%;
  text-align: center;
}

.fourth-landing-container {
  height: 100vh;
  width: 100%;
  background-color: #f4f9ff;
}

.third-cartoon {
  margin-top: 10rem;
}

.h1-fourth-landing {
  padding-top: 0;
  text-align: left;
  font-weight: 500;
}

.title-fourth-landing {
font-size: 24px;
line-height: 28.8px;
margin: 0;
padding-top: 2.5rem;
padding-left: 2rem;
}

.p-fourth-landing {
font-size: 16px;
font-weight: 400;
line-height: 24px;
padding-left: 2rem;
}

.fourth-small-container {
width: 382px;
height: 260px;
top: 3584px;
left: 16px;
gap: 0px;
border-radius: 30px;
opacity: 0px;
background-color: #e4f0ff;
margin: 2rem auto;

}

.fourth-small-container:nth-of-type(2),
.fourth-small-container:nth-of-type(3){
  background-color: #e8edfe;
}

.primary-button-fourth {
  margin: 1rem auto;
  display: block;
  width: 100px;
  height: 15px;
  text-align: center;
  padding-bottom: 1.5rem;
}

.margin-div {
  height: 1rem;
}
.margin-div hr {
  margin-bottom: 5rem;
}

.last-landing {
  height: 100vh;
  background-color: #f1f7ff;
  margin-top: 0.5rem;
}

.last-header {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.footer-tags {
  display: block;
  text-decoration: none;
  padding-bottom: 3rem;
  color: black;
  font-weight: 600;
}

.last-title {
font-size: 18px;
font-weight: 600;
line-height: 28px;
margin: 0;
margin-bottom: 1rem;
}

.last-icons { 
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.last-icons img{
  padding: 0.5rem;
  background: #e5effe;
  border-radius: 50%;
  margin: 1rem 1rem;
}

.last-p {
  margin-top: 5rem;
}

#email {
width: 255px;
height: 40px;
border-radius: 10px;
border: none;
padding-left: 1rem;
}

input{    
  background: url("https://assets.codepen.io/6060109/icon-send.png") white 95% 50% no-repeat;
  height:15px;
  }

.nav-bar {
  display: none;
}

.desktop-only{
  display: none;
}

  
  @media only screen and (min-width: 992px) {
    body {
      background-color: #f4f9ff;
    }
    .main-content {
      max-width: 80%;
    }

    .header-container {
      display: flex;
      justify-content: space-between;
      box-shadow: none;
    }

   .first-header {
      text-align: left;
      padding-top: 0;
      margin-top: 25px;
   }
   
   .nav-bar {
    display: flex;
    align-items: center;
   
   }

   .nav-bar a,
   .nav-bar img {
    text-decoration: none;
    margin-right: 2rem;
    color: black;
    font-weight: 500;
   }

   .nav-bar img {
    margin-right: 3rem;
   }

   .workout-cartoon{
    display: inline-block;
    width: 40%;
    object-fit: cover;
   }

   .desktop-main {
    display: flex;    
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 3rem;
   }

   .p-landing {
  
    font-weight: 800; 
    font-size: 12px;
    line-height: 20px;
    width: 80%;
    font-weight: 400;
    margin-top: 23px;
    margin-bottom: 40px;
    width: 382px;
   }

   .bold-text {
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;
    width: 80%;
   }

   .second-landing-container {
    display: flex;
    justify-content: space-between;
   }

   #second-img {
    object-fit: cover;
   }

   .second-lower-landing {
      width: 420px;
      height: 270px;
      top: 838px;
      left: 758px;
      gap: 0px;
      border-radius: 50px;
      opacity: 0px;
   }

   .h1-second-landing {
    padding-top: 1rem;
    font-size: 40px;
    line-height: 40px;
   }

   
    .p-second-landing {
     font-size: 12px;
     line-height: 18px;
    }

    .desktop-main-text {
      text-align: left;
      width: 60%;
    }

    .primary-button {
      padding: 14px 40px;
      font-size: 16px;
    }

    .third-landing-container {
      display: flex;
      flex-direction: row-reverse;
      height: 60vh;
    }

    .third-athlete-container {
      width: 700px;
    }

    #third-athlete{
      height: 550px;
      margin: -0.2rem;
    }

    .p-landing-third-lorem {
      text-align: left;
    }

    .p-landing-third {
      text-align: center;
    }

    .third-landing-container-small {
      width: 50%;
    }

    .third-landing-container .second-button {
      margin-left: 12rem;
    }

    .mobile-only{
      display: none;
    }

    .desktop-only {
      display: block;
    }
    
    .h2{
      font-weight: 500;
      color: #111235;
      font-size: 48px;
  margin-bottom: 15px;
    } 
    .fourth-main{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .fourth-top {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 5rem;
    }
    .h1-fourth-landing{
      display:inline;
    }

    .fourth-landing-container{
      height: 90vh;
    }
    .primary-button-fourth{
      margin: 0;
      display:inline;
    }

    .third-cartoon {
      width: 30%;
    }

    .fourth-small-container {
      max-width: 320px
    }
    .last-landing{
      display: flex;
      justify-content: space-between;
      height: 30vh;
    }

    .last-landing .last-tags{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 30%;
    }
    .last-icons {
      display: none;
    }

    .last-p {
      margin-top: 0;
    }
    .last-left{
      text-align: left;
      width: 30%;
    }

    .last-tags {
      height: 200px;
      width: 10%;
      display: flex;
      justify-content: center;
    }

    .last-search {
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      text-align: left;
      width: 30%;
      padding-top: 2rem;
    }
    
    
    .benefits-cartoon{
      width: 225px;
height: 225px;

    }


    .outer-container {
      margin: 0 10%;
    }

    .header-bold {
      font-weight: 700;
      font-size: 38px;
      margin-bottom: 15px;
    }
    
    .btn-primary {
      background-color: #4B5092;
      color: white;
    }
    
    .bm-40 {
      margin-bottom: 40px;
      font-size: 38px;
      font-weight: 500;
    }
    .btn {
      text-decoration: none;
      display: block;
      width: 225px;
      padding: 15px 0;
      border-radius: 50px;
      margin: 30px auto;
      font-weight: 600;
      text-align: center;
    }
    
    .btn {
      margin: 35px 0;
    }
    .simple-flex {
      display: flex;
      justify-content: space-between;    
      align-items: center;
      margin-top: 5rem;
    }
    .simple-flex > * {
      margin: 0;
    }
    .panels-img-container {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      margin-top: 50px;
      margin-bottom: 5rem;
    }
    
    .panels-img-container img {
      width: 40%;
    }
    
    .gradient-blue-bg {
      background: linear-gradient(99.85deg, #BAD5FF 0%, #6487BF 100%);
    }
    
    .gradient-blue-bg img {
      margin-bottom: -5px;
    }
    
    .panel {
      border-radius: 30px;
      padding: 30px 20px;
      margin-bottom: 20px;
    }
    
    .panel h5 {
      width: 85%;
    }
    
    .panel-blue {
      background: #E4F0FF;
    }
    
    .panel-purple {
      background: rgba(114, 122, 239, 0.1);
    }
    .panels {
      display: flex;
      width: 70%;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .panel {
      width: 49%;
      box-sizing: border-box;
    }
    #benefits-cartoon {
      width: 250px;
      height: 355px;
      object-fit:contain;
      margin-left: 2rem;
    }
 
    
    
  }